:root {
  --primary: #07c6a3;
  --bodyText: #000;
  --bodyTextLight: #3c3c46;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Serif", serif;
}

body.home-page {
  display: grid;
  grid-template-areas:
    ". header header header header ."
    ". feature feature feature feature ."
    ". sidebar main main main ."
    "footer footer footer footer footer footer";
  grid-template-columns: 50px 200px 1fr 1fr 1fr 50px;
  grid-template-rows: 70px auto 1fr auto;
}

button {
  font-family: "Noto Sans HK", sans-serif;
  cursor: pointer;
}

input {
  font-family: "Noto Sans HK", sans-serif;
  font-size: 1rem;
}

.home-header {
  grid-area: header;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 10px;
  background: #fff;
}

.search,
.mobile-trigger {
  font-size: 1.3rem;
}

.mobile-trigger {
  padding: 0;
  background: #fff;
  display: none;
}

.brand {
  color: var(--primary);
  font-weight: bold;
  font-size: 1.3rem;
  white-space: nowrap;
}

.brand__alt {
  color: var(--bodyText);
}

.brand__end-tag {
  position: relative;
  padding-left: 0.4em;
}

.brand__end-tag::before {
  content: "";
  height: 1em;
  width: 2px;
  background: var(--bodyText);
  position: absolute;
  left: -1px;
  bottom: 0.2em;
  transform: rotate(25deg);
}

.brand__end-bracket {
  padding-right: 0.1em;
}

.brand__start-bracket {
  padding-left: 0.1em;
}

.search label {
  cursor: pointer;
}

.search__input {
  width: 0;
  opacity: 0;
  position: relative;
  z-index: -1;
  outline: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid var(--bodyText);
  font-size: 1.2rem;
}

#search__trigger {
  position: absolute;
  right: 0;
  z-index: -1;
  opacity: 0;
}

#search__trigger:checked + .search__input {
  z-index: inherit;
  opacity: 1;
  animation: grow-wide 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.feature {
  grid-area: feature;
  justify-self: center;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  padding: 0.4em 0 1em;
}

.feature em {
  font-weight: bold;
  color: var(--primary);
}

.sidebar {
  grid-area: sidebar;
}

.sidebar__sticky-wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar {
  font-family: "Noto Sans HK", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.sidebar__heading {
  font-weight: 900;
}

.sidebar__topic-list {
  list-style-type: none;
  padding-left: 0;
}

.sidebar__topic-list li {
  font-weight: 500;
  height: 1.9rem;
}

.sidebar__topic-list label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar__topic-list span {
  line-height: 1;
}

.sidebar__topic-list input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}

.sidebar__topic-list .custom-radio,
.sidebar__topic-list .target {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__topic-list .custom-radio {
  position: relative;
  /* background-color: yellow; */
  width: 25px;
  height: 25px;
}

.sidebar__topic-list .target,
.sidebar__topic-list .bullseye {
  border-radius: 50%;
}

.sidebar__topic-list .target {
  width: 17px;
  height: 17px;
  border: 4px solid var(--bodyText);
}

.sidebar__topic-list .bullseye {
  width: 9px;
  height: 9px;
  background: var(--primary);
  transform: scale(0);
}

.sidebar__topic-list .line {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: var(--bodyText);
  opacity: 0;
}

.sidebar__topic-list .line.zero {
  left: 11px;
  top: -21px;
  transform: translateY(20px);
  width: 2px;
  height: 10px;
}

.sidebar__topic-list .line.one {
  right: -7px;
  top: -11px;
  transform: rotate(-55deg) translate(-9px);
}

.sidebar__topic-list .line.two {
  right: -20px;
  top: 11px;
  transform: translate(-9px);
}

.sidebar__topic-list .line.three {
  right: -8px;
  top: 35px;
  transform: rotate(55deg) translate(-9px);
}

.sidebar__topic-list .line.four {
  left: -8px;
  top: -11px;
  transform: rotate(55deg) translate(9px);
}

.sidebar__topic-list .line.five {
  left: -20px;
  top: 11px;
  transform: translate(9px);
}

.sidebar__topic-list .line.six {
  left: -8px;
  top: 35px;
  transform: rotate(-55deg) translate(9px);
}

.sidebar__topic-list .line.seven {
  left: 11px;
  bottom: -21px;
  transform: translateY(-20px);
  width: 2px;
  height: 10px;
}

.sidebar__topic-list input:checked ~ label .bullseye {
  animation: scale-up-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.sidebar__topic-list input:checked ~ label span {
  animation: font-change 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.sidebar__topic-list input:checked ~ label .line.zero {
  animation-name: drop-zero;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.sidebar__topic-list input:checked ~ label .line.one {
  animation-name: drop-one;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.sidebar__topic-list input:checked ~ label .line.two {
  animation-name: drop-two;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.sidebar__topic-list input:checked ~ label .line.three {
  animation-name: drop-three;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.sidebar__topic-list input:checked ~ label .line.four {
  animation-name: drop-four;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.sidebar__topic-list input:checked ~ label .line.five {
  animation-name: drop-five;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.sidebar__topic-list input:checked ~ label .line.six {
  animation-name: drop-six;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.sidebar__topic-list input:checked ~ label .line.seven {
  animation-name: drop-seven;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.home-main {
  grid-area: main;
}

main {
  padding-bottom: 30px;
}

.post-snippets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 16vw;
  grid-gap: 50px 50px;
  justify-content: start;
  max-width: 1800px;
}

.post-snippet {
  display: flex;
  border: 5px solid var(--bodyText);
  padding: 1rem;
  color: var(--bodyText);
  background-color: #eee;
}

.post-snippet__featured-image,
.post-snippet__description {
  width: 50%;
}

.post-snippet__featured-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.post-snippet__description {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.post-snippet__title {
  text-align: center;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  line-height: 1.55;
}

.post-snippet__date {
  color: var(--primary);
}

.icon-feature .post-snippet__featured-image {
  background: #fff;
  font-size: 8rem;
}

.learning-through-udacity .post-snippet__featured-image {
  background: #fff center / 95% no-repeat
    url("../assets/images/udacity-logo2.svg");
}

.breaking-free-from-tutorial-hell .post-snippet__featured-image {
  background: center / 50% no-repeat url("../assets/images/emoji.svg"),
    #fff center / cover no-repeat
      url("../assets/images/denys-argyriou-VU03qDREAgU-unsplash.jpg");
}

.custom-bootstrap-buttons-with-sass .post-snippet__featured-image {
  color: #563d7c;
}

.wyd .post-snippet__featured-image {
  background: #fff 5% / contain no-repeat
    url("../assets/images/wyd-message.svg");
}

.how-do-you-prototype .post-snippet__featured-image {
  background: #fff center / cover no-repeat
    url("../assets/images/hal-gatewood-tZc3vjPCk-Q-unsplash.jpg");
}

.learning-react-through-the-docs .post-snippet__featured-image {
  color: #61dafb;
}

.post-snippets__more {
  text-align: center;
  padding-top: 45px;
}

.post-snippets__more-button {
  background: var(--primary);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 0.3em 0.9em;
  line-height: 1.3;
}

.home-footer {
  grid-area: footer;
}

footer {
  background: var(--bodyText);
  color: #fff;
  padding: 5px 50px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
}

footer a {
  color: #fff;
  padding-right: 0.8em;
}

footer a:last-child {
  padding: 0;
}